.container {
  display: flex;
  margin-inline: 1rem;
  gap: 0.5rem;
  p {
    font-size: 1.15rem;
  }
}

.star_fill {
  font-size: 1.15rem;
  color: #f8d72a;
}

.star {
  font-size: 1.15rem;
  color: #f8d72a;
}
