@use '../variables.scss';

.container {
  align-items: center;
  background-color: variables.$bistre;
  color: variables.$white;
  display: flex;
  isolation: isolate;
  justify-content: space-around;
  padding-block: min(10rem, 10%);
  padding-inline: variables.$page-margin-inline;
  position: relative;

  div {
    h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
      z-index: 1;

      @media (min-width: 768px) {
        font-size: 2.5rem;
        margin-bottom: 4rem;
      }
    }

    p {
      font-size: 1.25rem;
      margin-bottom: 2rem;
      width: 100%;
      max-width: 35ch;
      z-index: 1;

      @media (min-width: 768px) {
        font-size: 1.75rem;
      }
    }
  }
}

.batik_background {
  object-fit: cover;
  opacity: 5%;
  -webkit-user-drag: none;
  z-index: -1;
}
