@use '../variables.scss';

.container {
  position: relative;
  color: variables.$white;
  background-color: variables.$bistre;
  padding-block: 1.5rem;
  padding-inline: variables.$page-margin-inline;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  gap: 1rem;
  isolation: isolate;

  h3 {
    font-size: 1.25rem;
    margin-block: 1rem;
  }
}

.logo_container {
  a {
    display: flex;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 600;
    color: variables.$white;
  }
}

.section {
  h2 {
    margin-bottom: 2rem;
  }

  div {
    margin-block: 0.5rem;

    & > a:hover {
      color: variables.$dandelion;
    }
  }

  span {
    margin-right: 0.25rem;
  }

  address {
    width: 100%;
    max-width: 35ch;
  }
}

.navigation_link_items {
  margin-block: 0.5rem;
  font-size: 1.125rem;

  a:hover {
    color: variables.$dandelion;
  }
}

.follow_us_section {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  font-size: 1.125rem;

  i {
    font-size: 1.125rem;
  }

  & > a:hover {
    color: variables.$dandelion;
  }
}

.batik_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 5%;
  z-index: -1;
}
