@use '../variables.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: variables.$page-margin-inline;
  margin-block: 1rem;

  @media (max-width: 1220px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
  }
}

.navigation {
  ul {
    display: flex;
    gap: 3em;

    @media (max-width: 1220px) {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 1rem;
      gap: 1rem;
      display: none;
    }
  }

  &.open {
    display: block;
  }
}

.navigation_list_items {
  font-size: 1.125rem;

  a {
    color: variables.$bistre;
    font-weight: 600;

    &:hover {
      color: variables.$fulvous;
    }
  }
}

.side_section {
  display: flex;
  align-items: center;
  gap: 1rem;

  i {
    font-size: 1.5rem;

    &:hover {
      cursor: pointer;
      color: variables.$fulvous;
    }
  }

  .mobile_menu_toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: variables.$bistre;
    padding: 0;

    @media (max-width: 1220px) {
      display: block;
    }
  }

  @media (max-width: 1220px) {
    margin-top: 1rem;
    gap: 0.5rem;
  }
}

@media (max-width: 1220px) {
  .dropdown-menu {
    display: block;
    margin-top: 1rem;
    gap: 1rem;
  }
}
