@use '../variables.scss';

.container {
  margin-inline: variables.$page-margin-inline;

  > div {
    margin-block: 2rem;
    display: flex;
    gap: 2rem;
  }

  h2 {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
    color: variables.$bistre;
  }

  @media (max-width: 1200px) {
    margin-inline: 1rem;

    > div {
      flex-direction: column;
      gap: 1rem;
    }
  }

  @media (max-width: 480px) {
    margin-inline: 0.5rem;

    h2 {
      font-size: 1.5rem;
    }
  }
}
