@use '../variables.scss';

.container {
  padding-inline: variables.$page-margin-inline;

  > h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: variables.$bistre;
    padding-top: 30px;
  }
}

.desc {
  font-size: 24px;
  color: #444;
  width: 70%;
  padding-bottom: 30px;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}